.search-form {
  max-width: 473px;
  @include adaptive-value("padding-right", 32, 15, 1);

  &__item {
    background-color: $color-white;
    display: flex;
    align-items: center;
  }

  &__icon {
    display: none;
  }

  &__btn {
    flex: 0 0 45px;
    height: 45px;
    font-size: 15px;
    color: #333333;
  }

  &__input {
    padding-right: 12px;
    font-size: 14px;
    color: $color-dark-gray;
    width: 100%;
  }
}
