<header class="header">
  <div class="header__wrapper">
    <div class="header__container container">
      <div class="header__body">
        <div class="header__main">
          <a class="header__logo" href="#">
            Funiro.
          </a>
          <div class="header__menu menu">
            <nav class="menu__body">
              <ul class="menu__list">
                <li class="menu__item">
                  <a class="menu__link" href="#">
                    Products
                    <button data-spoller type="button" class="menu__arrow --icon-arrow-down"></button>
                    <ul class="menu__sub-list">
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Product #1</a>
                      </li>
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Product #2</a>
                      </li>
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Product #3</a>
                      </li>
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Product #4</a>
                      </li>
                    </ul>
                  </a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#">
                    Rooms
                    <button data-spoller type="button" class="menu__arrow --icon-arrow-down"></button>
                    <ul class="menu__sub-list">
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Room #1</a>
                      </li>
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Room #2</a>
                      </li>
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Room #3</a>
                      </li>
                      <li class="menu__sub-item">
                        <a class="menu__sub-link" href="#">Room #4</a>
                      </li>
                    </ul>
                  </a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#">
                    Inspirations
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="header__search">
          <div class="search-form">
            <button class="search-form__icon --icon-search" type="button"></button>
            <form class="search-form__item" action="/">
              <button class="search-form__btn --icon-search" type="button"></button>
              <input type="text" class="search-form__input" placeholder="Search for minimalist chair">
            </form>
          </div>
        </div>
        <div class="header__actions actions-header">
          <a class="actions-header__item actions-header__item--favorites --icon-favorite" href="#">
          </a>
          <div class="actions-header__item cart-header">
            <a class="cart-header__icon --icon-cart" href="#">
              <span>1</span>

            </a>
            <div class="cart-header__body">
              <ul class="cart-header__list cart-list"></ul>
            </div>
          </div>
          <a href="#" class="actions-header__item actions-header__item--user">
            <img src="./img/avatar.webp" alt="Avatar">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>